$default-border-radius: 14px;
$button-border-radius: 8px;
$input-border-radius: 8px;

$default-padding: 24px;
$small-padding: 16px;

$appBar-height: 52px;

$bottom-bar-size: 64px;
$image-size: 50%;
$sidebar-width: 292px;
$date-size: 44px;

$button-default-height: 44px;
$button-small-height: 32px;

$input-default-height: 48px;
$input-small-height: 40px;