@import '../../styles/colors';

.modal {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  overflow: hidden;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}

.buttonsWithSpaceBetween{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .buttons{
    width: auto;
  }
}

.text{
  margin: 0;
  padding: 0;
  color: $text-40-color;
}